import os

db_config = {
    'user': os.environ.get('POSTGRES_USER', '{{aws_ssm_parameter "postgres/user"}}'),
    'password': os.environ.get('POSTGRES_PASSWORD', '{{aws_ssm_parameter "postgres/password"}}'),
    'host': os.environ.get('POSTGRES_HOST', 'db'),
    'db': os.environ.get('POSTGRES_DB', 'app'),
}


class Config(object):
    SQLALCHEMY_DATABASE_URI = "postgresql://{user}:{password}@{host}/{db}".format(**db_config)
    SQLALCHEMY_TRACK_MODIFICATIONS = False
